<div class="product-container container align-item-center">
    <div class="row justify-content-center text-center">
        <img class="product-image col-12" src={{product.url}}>
        <p class="col-12">{{product.name}}</p>
        <p class="col-12">${{product.price}}</p>
        <Form class="row col-12 justify-content-center">
            <select class="select-input">
                    <option selected value="1">1</option>
                    <option *ngFor="let i of [2,3,4,5]" value={{i}}>{{i}}</option>
            </select>
            <div class="col-12">
                <button class="btn btn-primary">Add to cart</button>
            </div>
        </Form>
    </div>
</div>